<section class="container">

    <form [formGroup]="form">
        <label for="">Usuario</label>
        <input class="form-control" type="text" formControlName="nombre">
        <br>
        <label for="">Contraseña</label>
        <input class="form-control" type="password" formControlName="pass">
        <br>
        <div class="d-flex justify-content-center">
            <button (click)="visualizaUser()" class="btn btn-primary">Iniciar Sesión</button>
        </div>

    </form>


</section>