.block {
    display: block;
    width: 90%;
    border: none;
    border-radius: 25px;
    background-color: blue;
    padding: 14px 28px;
    font-size: 16px;
    font-weight: 800;
    color: white;
    cursor: pointer;
    text-align: center;
  }