<img src="../../../assets/logoeoiok_horiz_blanco.jpg" class="img-fluid">
<h2>{{user.nombre}}</h2>
<div class="row">
    <div class="col">
        <h6>Pedidos: </h6>
        <ol>
            Artículos top 3 pedidos
            <li *ngFor="let articulo of top3">
                {{articulo.nombre}}
            </li>
        </ol>
        <p>Nº total de pedidos: {{listaPedidos.length}}</p>
        
    </div>
    <div class="col">
        <div class="d-inline-flex flex-column align-items-center">
            <button class="block" (click)="borrar()">Borrar</button>
            <br>
            <button class="block" (click)="actualizar()">Consultar</button>
        </div>
    </div>
</div>