.container {
    /* width: 50%; */
    margin-top: 10%;
}

form {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
}

.row label {
    align-self: flex-end;
}

/*Lista de artículos Añadir*/
.box {
    /* background-color: yellow; */
    width: 350px;
    margin-left: 15px;
    margin-top: 15px;
    
}

.col img {
    margin-top: 15px;
    margin-left: 25px;
    margin-bottom: 10px;
}

.cantidad {
    align-items: center;
    justify-content: flex-start;
    margin-left: 0px;
}

.cantidad .form-control {
    width: min-content;
    margin-left: 10px;
}

/*Lista de Pedidos*/
.boxAzul {
    background-color: aqua;
}

.rowPedido {
    justify-content: space-between;
}