<section class="container">

    <label>Nombre Artículo</label>
    <input class="form-control" type="text" [(ngModel)]="artConsulting" (ngModelChange)="artConsulting = $event" (ngModelChange)="modelChanged($event)">

    <article class="artContainer">
        <section *ngFor="let art of listaArticulos">
            <!-- <img [src]="item.image" alt="" width="250"> -->
            <h2>{{art.nombre}}</h2>
            
            <p>Stock: {{art.stock}}</p>
            <p>Precio: {{art.precio}} €</p>
            <p>Pedido  veces</p>
            
            <button class="btn btn-primary">Eliminar</button>
            <button class="btn btn-primary">Actualizar</button>

          </section>
    </article>
    
    

</section>